img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
li {
  list-style-type: none;
}
.swiper-button-prev,
.swiper-button-next {
  color: red;
}
.swiper-button-disabled {
  display: none;
}
.swiper-pagination-bullet {
  background-color: red;
}
.swiper-pagination-bullet-active {
  background-color: green;
}
/* .swiper-container{
  width: 500px;
} */

/* .swiper-wrapper {
  padding-inline-start: 0;
} */
